<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Page</title>
    <link rel="stylesheet" href="/public/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="../public/jquery.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="navigation">
        <div class="navLink">
          <a href="#">Home</a>
        </div>
        <div class="navLink">
          <a href="products">Color</a>
        </div>
        <div class="navLink">
          <a href="contact">Contact</a>
        </div>
        <div class="navLink">
          <a href="cart"
            >Cart <em> <% if(cartNumb != 0) {%> <%= cartNumb %> <% } %> </em></a
          >
        </div>
      </div>
    </div>

    <div class="midContent">
      <div class="contactWrapper">
        <form action="/submit/contact" method="POST">
          <div class="standardText">Question or Comments?</div>
          <div class="name">
            <textarea
              name="name"
              cols="55"
              rows="1"
              placeholder="Name"
            ></textarea>
          </div>
          <div class="email">
            <textarea
              name="email"
              cols="55"
              rows="1"
              placeholder="Email"
            ></textarea>
          </div>
          <div class="subject">
            <textarea
              name="subject"
              cols="55"
              rows="1"
              placeholder="Subject"
            ></textarea>
          </div>
          <div class="standardText">Enter Your Comment Below</div>
          <div class="comment">
            <textarea name="comment" cols="55" rows="10"></textarea>
          </div>
          <div class="contactSubmit"><button type="submit">Submit</button></div>
        </form>
      </div>
    </div>
  </body>
</html>
