<%- include('header'); -%>
<!-- content -->
<div class="container-md">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-lg-center h1">Question or Comments?</h5>
          <form action="/submit/contact" method="POST" onsubmit="return validateForm()">
            <div class="form-group">
              <label for="name">Name</label>
              <textarea class="form-control" id="name" name="name" rows="1" required></textarea>
              <div class="invalid-feedback">Please enter your name.</div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" required>
              <div class="invalid-feedback">Please enter a valid email address.</div>
            </div>
            <div class="form-group">
              <label for="subject">Subject</label>
              <textarea class="form-control" id="subject" name="subject" rows="1" required></textarea>
              <div class="invalid-feedback">Please enter a subject.</div>
            </div>
            <div class="form-group">
              <label for="comment">Enter Your Comment Below</label>
              <textarea class="form-control" id="comment" name="comment" rows="10" required></textarea>
              <div class="invalid-feedback">Please enter your comment.</div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('footer'); -%>